pytorch-lightning==1.7.3
matplotlib~=3.6.2
opencv-python~=4.6.0.66
tqdm~=4.64.1
imageio~=2.22.4
path~=16.6.0
scipy~=1.9.3
configargparse~=1.5.3
kornia~=0.6.8
jupyterlab
tensorboardX~=2.5.1
sklearn~=0.0.post1
IPython
seaborn~=0.12.1
einops
timm
# charts
plotly==5.14.0
pynvml==11.5.0
kaleido==0.2.1
# bayesian optimization
scikit-optimize==0.9.0
# reinforcement learning
gym==0.26.2
stable-baselines3[extra]==2.0.0
Shimmy==0.2.1

numpy~=1.23.4
torchvision~=0.13.1
pillow~=9.2.0
pandas~=1.5.2
scikit-learn~=0.24.2

dataclasses-json