pytorch-lightning==1.7.3
matplotlib
opencv-python~=4.6.0.66
tqdm~=4.64.1
imageio~=2.22.4
path~=16.6.0
scipy~=1.9.3
configargparse~=1.5.3
kornia~=0.6.8
jupyterlab
tensorboardX~=2.5.1
sklearn
IPython
seaborn
einops
timm
# charts
plotly==5.14.0
pynvml==11.5.0
kaleido==0.2.1
